<template>
  <section class="page">

    <section id="images" class="col-md-6">
      <span class="close" @click="leave"></span>
      <main v-if="city.matrouz">

        <div v-for="(p, index) in city.pages" :key="index" class="anim" :class="{ active: index === selected }">
          <iframe class="youtube" width="100%" height="315" src="https://www.youtube.com/embed/aMdtawPtRN4" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" style="max-width: 600px; margin: 0 auto; display: block;" allowfullscreen></iframe>
          <div class="credit">
            <p> {{ p[$store.state.language].caption }} </p>
          </div>
        </div>
      </main>
      <main v-if="!city.matrouz">
        <div v-for="(p, index) in city.pages" :key="index" class="anim" :class="{ active: index === selected }">
          <img class="pic" :src="`img/cities/${p.img}`" :alt="p[$store.state.language].title"/>
          <div class="credit">
            <p> Crédit photo : By {{ p.credit }} </p>
          </div>
        </div>
      </main>

      <nav v-if="!city.matrouz">
        <span class="prev" @click="selected -= (selected>0) ? 1 : 0" :class="{ disabled: selected == 0 }">
          <svg class="chevron" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" class=""></path></svg>
        </span>
        <span class="next" @click="selected += (selected<city.pages.length-1) ? 1 : 0" :class="{ disabled: selected >= city.pages.length-1 }">
          <svg class="chevron" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>
        </span>
        <button class="dot" v-for="(p,i) in city.pages" :key="i" @click="selected = i" :class="{ active: selected == i }"></button>
      </nav>
    </section>

    <section class="separator"></section>

    <section id="texts" class="col-md-6">
      <div class="logo">
        <img src="img/logo-medinastories.png" alt="Logo"/>
      </div>
        <div v-for="(p, index) in city.pages" :key="index" class="anim" :class="{ active: index === selected }">
          <h1>{{ p[$store.state.language].title }}</h1>
          <p v-html="p[$store.state.language].description"></p>
          <div id="wiki" @click="wiki = p[$store.state.language].wiki" class="pointer">
            <span v-if="$store.state.language === 'en'">Read more on<br>Wikipedia</span>
            <span v-if="$store.state.language === 'fr'">Lire plus sur<br>Wikipedia</span>
            <span v-if="$store.state.language === 'ar'">اقرأ المزيد على<br>ويكيبيديا </span>
          </div>
          <span v-if="index === city.pages.length - 1" class="more" @click="$store.state.page = 'map'; $store.state.city = null">
            {{another}}
          </span>
      </div>
    </section>
    <div id="iframe" v-if="wiki" @click="wiki = null">
      <iframe id="wiki" :src="wiki"></iframe>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      selected: 0,
      wiki: null,
    }
  },
  methods: {
    leave() {
      this.$store.state.page = 'map';
      this.$store.state.city = null;
    }
  },
  computed: {
    city() {
      return this.$store.state.city;
    },
    another() {
      const s = {
        fr: 'Découvrez une autre ville',
        en: 'Discover another city',
        ar: 'اكتشف مدينة أخرى',
      }

      return s[this.$store.state.language]
    }
  }
};
</script>


<style lang="scss" scoped>
@import "../assets/variables";
@import "../assets/mixins";

$imagesHeight: 50vh;
$separatorHeight: 10vh;
$textsHeight: 40vh;

section.page {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  display: none;
  @include biggerThan(desktop) {
    display: initial;
  }
  padding-left: 4rem;
  padding-top: 2rem;

  img {
    height: 90px;
    width: auto;
  }
}

.credit {
  p {
    font-size: .8rem;
  }
}

.chevron {
  height: 18px;
  padding-top: 3px;
}

.ar #texts .anim {
  direction: rtl;
}

#texts {
  @include smallerThan(desktop) {
    height: $textsHeight;
    min-height: $textsHeight;
    max-height: $textsHeight;
  }
  @include biggerThan(desktop) {
    flex: 0.7;
    padding-top: 4em;
  }
  background: $teal;

  position: relative;

  & > div {
    color: #fff;
  }

  img {
    @include smallerThan(desktop) {
      display: none;
    }
  }

  p {
    margin: 4rem 0;
  }

  .anim {
    &.active {
      z-index: 1000;
    }
    padding: 4rem;
    @include smallerThan(desktop) {
      height: $textsHeight;
      padding: 0 2rem;
    }
    overflow: auto;
    padding-bottom: 1em;
  }
}

.more {
  margin-top: 4em;
  display: block;
  text-align: center;
  cursor: pointer;
}

.separator {
  margin-top: auto;
  padding: 0;
  background-image: url('~@/assets/img/wave-bottom.png');
  background-size: 100% 100%;
  height: 10vh;

}

nav {
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 0 1em;
  right: 20px;

  @include biggerThan(desktop) {
    bottom: 10px;
  }

  .prev, .next {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 10px;;
    cursor: pointer;
    outline: 0;
    background: #41655a;
    color: white;
    line-height: 18px;

    .disabled {
      opacity: 0.5;
    }
  }

  .prev {
    position: absolute;
    left: 1.2em;
  }

  .next {
    position: absolute;
    right: 1.2em;
  }


  .disabled {
    opacity: 0.5;
  }

  .dot {
    height: 20px;
    width: 20px;
    outline: 0;
    display: inline-block;
    background: transparent;
    border-radius: 100%;
    border: 4px solid #63bca0c7;
    transition: 100ms transform linear;
    transform: scale(0.8);

    &.active {
      transform: scale(1);
      border-color: #41655a;
    }
  }
}


.anim {
  position: absolute;
  opacity: 0;
  transition: opacity 1.5s ease;

  &.active {
    opacity: 1;
  }
}

#images {
  height: 50vh;
  position: relative;

  @include biggerThan(desktop) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1.2;
  }

  main {
    position: relative;

    @include biggerThan(desktop) {
      margin: 100px auto 120px;
      height: 400px;
      width: 400px;

      & {
        top: 0;
        bottom: 0;
      }

      & > div {
        width: 100%;
        height: 100%;

        .pic {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        p {
          margin-top: 10px;
          text-align: center;
        }
      }
    }

    @include smallerThan(desktop) {
      margin: 50px auto 120px;

      & > div {
        width: 100%;

        .pic {
          width: 100%;
          height: 30vh;
          object-fit: contain;
        }

        p {
          margin-top: 1px;
          text-align: center;
        }
      }
    }

  }
}

@include biggerThan(desktop) {
  section.page {
    flex-direction: row-reverse;
  }
  .separator {
    background-image: url('~@/assets/img/wave-left.png');
    height: 100vh;
    width: 100px;
  }
  #images {
    main {
      width: 90%;
    }
  }
}

#wiki {
  text-align: right;
  span {
    display: inline-block;
    width: 100px;
    text-align: center;
  }
}

#iframe {
  position: fixed;
  z-index: 5000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  iframe {
    position: fixed;
    z-index: 5001;
    background-color: #fff;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 80%;
  }
}

h1 {
  font-size: 25px;
}

.close {
  position: absolute;
  top: 2px;
  @include biggerThan(desktop) {
    top: 20px;
  }
  right: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 40px;
  cursor: pointer;
  color: $green;

  &:before {
    content: "\00d7";
  }
}

@include smallerThan(desktop) {
  @media (max-height: 520px) { #images { height: 55vh; } #texts { height: 35vh; min-height: 35vh;} }
  @media (max-height: 420px) { #images { height: 60vh; } #texts { height: 30vh; min-height: 30vh;} }
}

</style>