<template>
  <section>
    <span class="close" @click="$store.state.page = 'map'"></span>
    <article v-if="$store.state.language == 'en'">
      <img class="logo" src="img/logo-medinastories.png" />
      <p>
        MedinaStories was founded by
        <a href="https://twitter.com/ChahbounNassima" target="_blank">Nassima Chahboun</a>,
        architect, president &amp; co-founder of “Wiki Heritage” association.
        The project aims to promote the role of cultural Heritage in peace
        building in the Maghreb region, through collaborative creation of free
        educational material about religious and cultural sectionersity in Maghreb
        Medinas listed as UNESCO World Heritage.
      </p>
      <p>
        All the application content is under CC BY-SA license. was created
        through collaborative activities: a photography contest on Wikimedia and
        an edit-a-thon on Wikipedia .
      </p>
      <p>
        You can find more details about the project, the edit-a-thon and the
        photo contest <a href="https://meta.wikimedia.org/wiki/MedinaStories" target="_blank">here</a>.
      </p>
      <strong>[Ce projet est implémenté avec le soutien de l'UNESCO dans le cadre
        du projet conjoint UNESCO/UNCCT sur la Prévention de l'extrémisme
        violent par l'autonomisation des jeunes en Jordanie, en Libye, au
        Maroc et en Tunisie, cofinancé par le Canada.]</strong>
    </article>
    <article v-else-if="$store.state.language == 'fr'">   
      <img class="logo" src="img/logo-medinastories.png" />
      <p> MedinaStories a été créé par <a href="https://twitter.com/ChahbounNassima" target="_blank">Nassima Chahboun</a>, architecte, présidente et cofondatrice de l'association «Wiki Heritage». Ce projet vise à promouvoir le rôle du patrimoine culturel dans la consolidation de la paix dans la région du Maghreb, à travers la création  ollaborative de matériel éducatif gratuit sur la diversité religieuse et culturelle dans les médinas du Maghreb inscrites au patrimoine mondial de l'UNESCO. </p>
      <p> Tout le contenu de l'application est sous licence CC BY-SA. Il a été créé à travers des activités collaboratives: un concours de photographie sur Wikimedia et un edit-a-thon sur Wikipédia. </p> 
      <p> Vous pouvez trouver plus de détails sur le projet, le edit-a-thon et le concours photo <a href="https://meta.wikimedia.org/wiki/MedinaStories" target="_blank">ici</a>. </p>
      <strong>[Ce projet est implémenté avec le soutien de l'UNESCO dans le cadre du projet conjoint UNESCO/UNCCT sur la Prévention de l'extrémisme violent par l'autonomisation des jeunes en Jordanie, en Libye, au Maroc et en Tunisie, cofinancé par le Canada.]</strong>           
    </article>
    <article v-else-if="'ar' == $store.state.language">   
      <img class="logo" src="img/logo-medinastories.png" />
      <p> تم تاسيس حكايات المدينة من طرف <a href="https://twitter.com/ChahbounNassima" target="_blank">نسيمة شهبون</a> ، مهندسة معمارية ، رئيسة ومؤسس مشارك لجمعية Heritage Wiki. </p>

      <p> يهدف هذا المشروع الى تعزيز دور التراث الثقافي في بناء الاسلام في المنطقة المغاربية ، وذلك من خلال الانشاء التشاركي لمواد تعليمية مجانية حول التنوع الديني والثقافي في المدن العتيقة المغاربية المدرجة في قائمة التراث العالمي لليونسكو.            </p>
      <p> تم انشاء كامل محتوى هذا التطبيق عبر انشطة تشاركية: مسابقة تصوير فوتوغرافي على ويكيميديا كومنز ومسابقة تحرير على ويكيبيديا. </p>
      <p> يمكنكم الاطلاع على مزيد من التفاصيل حول المشروع ، مسابقة التحرير ومسابقة التصوير <a href="https://meta.wikimedia.org/wiki/MedinaStories" target="_blank">هنا</a>. </p>
      <strong>]تم تنفيذ هذا المشروع بدعم من اليونكسو في إطار المشروع المشترك بين اليونسكو ومركز الامم المتحدة لمكافحة الارهاب حول درء التطرف العنيف من خالل تمكين الشباب في الاردن وليبيا والمغرب وتونس. ساهمت كندا بتمويل هذا المشروع.[</strong>           
    </article>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>

section {
  position: relative;
  height: 100%;
  background-color: #63bca0;
  background-image: url('~@/assets/img/bg-credit.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
}

article {
  height: 100%;
  overflow: auto;
  padding: 50px 1rem 100px; 
  position: absolute;
  width: 90%;
  right: 5%;
  max-width: 700px;
  text-shadow: 0 0 3px #000000a0;
  text-align: center;
  p {
    margin-bottom: 1rem;
  }
}

.logo {
  width: 90%;
  margin: 0 auto 40px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 40px;
  cursor: pointer;
  &:before {
    content: "\00d7";
  }
}
</style>