<template>
  <div class="game">
    <h3 v-html="i18n[$store.state.language].question" />

    <input
      v-model="q1"
      class="q1"
      autocomplete="off"
      spellcheck="false"
      type="text"
      :maxlength="answers[$store.state.language][0].length"
      :style="{ width: 1.5 * answers[$store.state.language][0].length + 'ch' }"
    />
    <input
      v-model="q2"
      ref="q2"
      autocomplete="off"
      spellcheck="false"
      type="text"
      :maxlength="answers[$store.state.language][1].length"
      :style="{ width: 1.5 * answers[$store.state.language][1].length + 'ch' }"
    />
    <span class="validate pointer" @click="validate">{{ i18n[$store.state.language].validate }}</span>
  </div>
</template>

<script>
export default {
  data() {
    return {
      q1: '',
      q2: '',
      answers: {
        fr: ['le', 'matrouz'],
        en: ['the' , 'matrouz'],
        ar: ['فن', 'المطروز'],
      },
      i18n: {
        fr: {
          question: 'Avez-vous trouvé le nom de cet art ?<br>Tapez-le ici et amusez-vous!',
          validate: "valider",
        },
        ar: {
          question: 'هل وجدتم اسم هذا الفن؟<br> اكتبوه هنا و !!استمتعوا',
          validate: "تاكيد",
        },
        en: {
          question: 'Did you find the name of this Art?<br>Type it here and enjoy!',
          validate: "validate"
        }
      }
    };
  },
  methods: {
    validate() {
      const valid =  
        this.q1.toLowerCase() === this.answers[this.$store.state.language][0] &&
        this.q2.toLowerCase() === this.answers[this.$store.state.language][1];
      
      this.$emit(valid ? 'valid' : 'invalid');
    },
  },
  watch: {
    q1(v, oldv) {
      const l = this.answers[this.$store.state.language][0].length;
      if (v.length === l && oldv.length < l) {
        this.$refs.q2.focus();
      }
    }
  }
}
</script>

<style lang="scss" scoped>

input {
  font: 1.5ch droid sans mono, consolas, monospace;
  border: none;
  outline: none;
  letter-spacing: 0.49ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;

  &.q1 {
    margin-right: 1rem;
  }
  .ar &.q1 {
    margin-right: 0;
    margin-left: 1rem;
  }
}


.ar input {
  letter-spacing: 0.5ch;
}

h3 {
  margin: 1rem 0;
  font-weight: 600;
  font-size: .9rem;
}

.validate {
  text-decoration: underline;

  #app.fr &, #app.en & {
    margin-left: 1em;
  }

  #app.ar & {
    margin-right: 1em;
  }
}

</style>