<template>
  <main class="home">
    <div class="bgss">
      <div 
        v-for="i in bgNumber" :key="i" 
        class="bgs" 
        :class="{ active: activeBg == i}" 
        :id="'b' + i"
        :style="`background-image: url('img/bgs/${i}.jpg')`"
        
        >
        <span></span>
      </div>
    </div>

    <div class="page">
      <section class="content">
        <img class="logo fluid" src="img/logo-medinastories.png" alt="Logo"/>

        <ul class="languages">
          <li @click="$store.state.language = 'en'" class="pointer fancy">English</li>
          <li @click="$store.state.language = 'fr'" class="pointer fancy">Français</li>
          <li @click="$store.state.language = 'ar'" class="pointer fancy ar">عربية</li>
        </ul>

        <span class="start pointer" @click="$store.state.page='map'">
        {{ start[$store.state.language] }}
      </span>

        <footer>
          <img ref="f1" src="img/footer-unesco.jpg" class="fluid"/>
          <img ref="f2" style="opacity:0" src="img/footer-partners.png" class="fluid overlay"/>
        </footer>
      </section>
      <section class="separator"></section>
      <section class="empty"></section>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      activeBg: 1,
      bgNumber: 10,
      start: {
        en: 'Start your journey!',
        fr: 'Démarrez votre aventure!',
        ar: 'ابدأ رحلتك',
      }
    }
  },
  mounted() {
    // logo animation
    setTimeout(() => {
      this.$refs.f2.style.opacity = 1;
    }, 5000)

    //background animation
    setInterval(() => {
      this.activeBg = ((this.activeBg ) % 10)+1 ;
    }, 4000)
  }
};
</script>

<style lang="scss" scoped>

@import "../assets/mixins";

.page {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  @include biggerThan(desktop) {
    flex-direction: row;
  }
}

.empty {
  @include biggerThan(desktop) {
    min-height: auto;
    flex: 1;
  }
}

img.fluid {
  max-width: 100%;
  height: auto;

}

.content {
  background: #63bca0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;


  @include biggerThan(desktop) {
    flex: 2;
    max-width: 700px;
    padding-top: 100px;
  }
}

.separator {
  margin-top: auto;
  padding: 0;
  background-image: url('~@/assets/img/wave-bottom.png');
  background-size: 100% 100%;
  height: 100px;
  @include biggerThan(desktop) {
    background-image: url('~@/assets/img/wave-left.png');
    height: 100vh;
    width: 100px;
  }
}

.bgs {
  font-family: 'Source Sans Pro', serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  padding: 10px;
  // avoid problem with arabic
  line-height: 0;

  &.active {
    opacity: 1;
  }

  & > :after {
    font-family: 'Source Sans Pro', serif;
    content: "Credits";
    background: #0000008a;
    color: white;
    padding: 4px;
    font-size: 12px;
    position: relative;
    top: 7px;
  }
}

.languages {
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 600;
  margin: 1rem 0;
  font-size: 1.1rem;

  li {
    padding: 0 10px 0 10px;
    display: inline;
    line-height: 30px;

    &.fancy {
      text-decoration: none;
      position: relative;


      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background: white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  @include smallerThan(desktop) {
    font-size: 80%;
  }
}

.start {
  margin: 1rem 0;
  line-height: 30px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 1rem;
  border-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  width: fit-content;
  word-spacing: 2px;
  letter-spacing: 1px;
  &:hover {
    color: white;
  }
}

.logo {
  width: 80%;
  max-width: 300px;
}

footer {
  position: relative;
  width: 100%;
  line-height: 0; // avoid problem with arabic

  img {
    transition: opacity 2s;

    &.overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

}

// Backgrounds
$backgrounds:
 //id 
    1 center -300px 455px initial cover cover "MoroccanPixels - Own work, CC BY-SA 4.0",
    2 center -180px right -500px  cover 70%   'jamel eddine ben saidane alias Wildtunis - Own work, CC BY-SA 4.0 ', // was 70%,
    3 center -50px  right -50px   cover 70%   'Zayneb sassi - Own work, CC BY-SA 4.0', // was 70%,
    4 center -250px right -450px  cover 70%   'Ayman Chermiti - Own work, CC BY-SA 4.0', // was 70%,
    5 center bottom right bottom  cover cover 'TomiValny - Own work, CC BY-SA 4.0',
    6 center -280px 250px bottom  cover cover 'Reda Ait Saada - Own work, CC BY-SA 4.0',
    7 center -240px 660px initial cover cover 'Mounim nezar - Own work, CC BY-SA 4.0',
    8 center -100px 555px initial cover cover 'TomiValny - Own work, CC BY-SA 4.0',
    9 center -250px 485px initial cover cover 'Houssain tork - Own work, CC BY-SA 4.0',
    10 center -40px right -40px   cover 70%   'ZAINEB HACHAMI - Own work, CC BY-SA 4.0'; // was 70%;


@each $id, $x, $y, $deskX, $deskY, $size,$sizepc, $credits in $backgrounds {

  #b#{$id} {
    & :after {
      content: "By #{$credits}";
    }

    background-position-x: $x;
    background-position-y: $y;
    background-size: $size;

    @include biggerThan(desktop) {
      background-position-x: $deskX;
      background-position-y: $deskY;
      background-size: $sizepc;
    }
  }
}


</style>