<template>
  <div class="page">
    <header>
      <div class="logo">
        <a href="index.html">
          <img src="img/logo-medinastories.png" alt="Logo">
          <span>&lt;</span>
        </a>
      </div>

      <div class="icons">

        <div class="audio_controls">
          <a class="icon_sound hover" id="playpauseBTN" @click.prevent="playpause">
            <svg v-if="$store.state.playing" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 448.1 448.1" style="enable-background:new 0 0 448.1 448.1;" xml:space="preserve"><g id="Capa_1"></g><g id="Layer_2"><path d="M260.4,16.4c-5.2-2.5-11.3-1.8-15.8,1.8L99.3,134.4H29.9C13.4,134.4,0,147.8,0,164.3v119.5c0,16.5,13.4,29.9,29.9,29.9h69.4l145.3,116.2c2.7,2.2,6,3.3,9.3,3.3c2.2,0,4.4-0.5,6.5-1.5c5.2-2.5,8.5-7.7,8.5-13.4V29.9C268.8,24.1,265.6,18.9,260.4,16.4z"></path> <path d="M344.5,118.4c-5.9-5.8-15.3-5.7-21.1,0.1c-5.8,5.9-5.7,15.3,0.1,21.1c22.6,22.3,35,52.2,35,84.4s-12.4,62.1-35,84.4c-5.9,5.8-5.9,15.2-0.1,21.1c2.9,3,6.8,4.4,10.6,4.4c3.8,0,7.6-1.4,10.5-4.3c28.3-27.9,43.9-65.4,43.9-105.6S372.8,146.4,344.5,118.4z"></path> <path d="M386.6,76.3c-5.9-5.8-15.3-5.8-21.1,0.1c-5.8,5.9-5.7,15.3,0.1,21.1c34,33.7,52.7,78.6,52.7,126.5s-18.7,92.8-52.7,126.5c-5.8,5.8-5.9,15.3-0.1,21.1c3,2.9,6.8,4.4,10.6,4.4c3.8,0,7.6-1.4,10.5-4.3c39.7-39.3,61.5-91.7,61.5-147.7S426.3,115.6,386.6,76.3z"></path></g></svg>
            <svg v-else version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 448.1 448.1" style="enable-background:new 0 0 448.1 448.1;" xml:space="preserve"><g id="Capa_1">	<path d="M344.1,28.9c0-5.7-3.3-11.1-8.4-13.5c-5.4-2.7-11.4-1.8-15.9,1.8l-133,106l157.4,157.4V28.9z"></path><path d="M429.9,408.6L39.5,18.2c-5.9-5.9-15.4-5.9-21.2,0s-5.9,15.4,0,21.2l94.5,94.5h-8.8c-9.3,0-17.4,4.2-22.8,10.8c-4.5,5.1-7.2,12-7.2,19.2v120.1c0,16.5,13.5,30,30,30h69.7L319.8,431c2.7,2.1,6,3.3,9.3,3.3c2.1,0,4.5-0.6,6.6-1.5	c5.1-2.4,8.4-7.8,8.4-13.5v-53.8l64.4,64.4c2.9,2.9,6.8,4.4,10.6,4.4c3.8,0,7.7-1.5,10.6-4.4C435.7,424,435.7,414.5,429.9,408.6z"></path></g><g id="Layer_2"></g></svg>
          </a>
        </div>

        <!-- header icons -->
        <a class="propos btn" @click.prevent="$store.state.page = 'credit'">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,0C114.8,0,0,114.8,0,256s114.8,256,256,256s256-114.8,256-256S397.2,0,256,0z M272.7,407.9c-12.2,2-36.4,7.1-48.7,8.1c-10.4,0.9-20.2-5.1-26.2-13.6c-6-8.5-7.4-19.5-3.9-29.3L242.3,240H192c0-27.7,20.8-48.1,47.4-55.9c12.7-3.7,36.3-8.8,48.6-8.1c7.4,0.5,20.2,5.1,26.2,13.6c6,8.5,7.4,19.5,3.9,29.3L269.7,352H320C320,379.7,300,403.3,272.7,407.9L272.7,407.9z M288,160c-17.7,0-32-14.3-32-32c0-17.7,14.3-32,32-32s32,14.3,32,32C320,145.7,305.7,160,288,160L288,160z"></path></svg>
        </a>

        <a class="propos btn" href="https://www.facebook.com/MedinaStories1" target="_blank">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 97.8 97.8" style="enable-background:new 0 0 97.8 97.8;" xml:space="preserve"><g> <path d="M48.9,0C21.9,0,0,21.9,0,48.9s21.9,48.9,48.9,48.9s48.9-21.9,48.9-48.9S75.9,0,48.9,0z M67.5,24.9l-6.8,0c-5.3,0-6.3,2.5-6.3,6.2v8.1h12.6l0,12.8H54.4v32.8H41.3V52h-11V39.3h11v-9.4c0-10.9,6.7-16.9,16.4-16.9l9.9,0L67.5,24.9L67.5,24.9z"></path></g></svg>
        </a>

        <a class="propos btn" href="https://www.instagram.com/medinastories/" target="_blank">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M305,256c0,27.1-21.9,49-49,49s-49-21.9-49-49s21.9-49,49-49S305,228.9,305,256z"></path>
            <path d="M370.6,169.3c-2.4-6.4-6.1-12.2-11-16.9c-4.7-4.9-10.5-8.6-16.9-11c-5.2-2-13-4.4-27.3-5.1c-15.5-0.7-20.2-0.9-59.4-0.9c-39.3,0-43.9,0.1-59.4,0.9c-14.3,0.7-22.1,3.1-27.3,5.1c-6.4,2.4-12.2,6.1-16.9,11c-4.9,4.7-8.6,10.5-11,16.9c-2,5.2-4.4,13-5.1,27.3c-0.7,15.5-0.9,20.1-0.9,59.4c0,39.3,0.2,43.9,0.9,59.4c0.7,14.3,3,22.1,5.1,27.3c2.4,6.4,6.1,12.2,11,16.9c4.7,4.9,10.5,8.6,16.9,11c5.2,2,13,4.4,27.3,5.1c15.5,0.7,20.1,0.9,59.4,0.9c39.3,0,43.9-0.1,59.4-0.9c14.3-0.7,22.1-3,27.3-5.1c12.8-4.9,23-15.1,27.9-27.9c2-5.2,4.4-13,5.1-27.3c0.7-15.5,0.9-20.2,0.9-59.4c0-39.3-0.1-43.9-0.9-59.4C375,182.3,372.6,174.5,370.6,169.3z M256,331.5c-41.7,0-75.5-33.8-75.5-75.5s33.8-75.5,75.5-75.5c41.7,0,75.5,33.8,75.5,75.5S297.7,331.5,256,331.5z M334.5,195.2c-9.7,0-17.6-7.9-17.6-17.6s7.9-17.6,17.6-17.6s17.6,7.9,17.6,17.6C352.1,187.3,344.2,195.2,334.5,195.2z"></path>
            <path class="st0" d="M256,0C114.6,0,0,114.6,0,256s114.6,256,256,256s256-114.6,256-256S397.4,0,256,0z M402.1,316.6c-0.7,15.6-3.2,26.3-6.8,35.7c-7.6,19.7-23.2,35.4-43,43c-9.3,3.6-20,6.1-35.7,6.8c-15.7,0.7-20.7,0.9-60.6,0.9c-39.9,0-44.9-0.2-60.6-0.9c-15.6-0.7-26.3-3.2-35.7-6.8c-9.8-3.7-18.7-9.5-26-17c-7.5-7.3-13.3-16.2-17-26c-3.6-9.3-6.1-20-6.8-35.7c-0.7-15.7-0.9-20.7-0.9-60.6s0.2-44.9,0.9-60.6c0.7-15.6,3.2-26.3,6.8-35.7c3.7-9.8,9.5-18.7,17-26c7.3-7.5,16.2-13.3,26-17c9.4-3.6,20-6.1,35.7-6.8c15.7-0.7,20.7-0.9,60.6-0.9s44.9,0.2,60.6,0.9c15.6,0.7,26.3,3.2,35.7,6.8c9.8,3.7,18.7,9.5,26,17c7.5,7.3,13.3,16.2,17,26c3.6,9.4,6.1,20,6.8,35.7c0.7,15.7,0.9,20.7,0.9,60.6S402.8,300.9,402.1,316.6z"></path></svg>
        </a>
      </div>
    </header>
    <main>
      <div class="map">
        <pinch-zoom disableZoomControl="never" :wheel="false" backgroundColor="transparent" :limitZoom="3">
          <MapSvg @cityclicked="onMapCityClicked" />
        </pinch-zoom>
      </div>
      <section class="separator"></section>
      <div class="description">
        <!-- presentation -->
        <template v-if="$store.state.language === 'fr'">
          <h1>Medina Stories</h1>
          <p>MedinaStories est un voyage vers les joyaux cachés de 10 Médinas du Maghreb inscrites comme patrimoine
            mondial de l'UNESCO. Nous ne visiterons pas les célèbres mosquées et médersas, mais nous explorerons plutôt
            les lieux où différentes cultures et religions se sont rencontrées et ont donné naissance à des arts et des
            monuments fascinants, et à des histoires humaines inspirantes.</p>
          <h2>Explorez la dimension cachée des Médinas,</h2>
          <p>Tout au long de ce voyage, vous allez explorer 5 histoires sur la diversité culturelle et religieuse dans
            chaque Médina. Chaque histoire est racontée soit par un monument, un espace urbain, un art ou une
            personnalité publique. </p>
          <h2>Et découvrez un art fascinant!</h2>
          <p>Dans chaque médina, il y a une lettre écrite dans une couleur différente. En rassemblant les 9 lettres,
            vous trouverez le nom d'un Art Maghrébin authentique, né de la fusion de différentes cultures et
            religions.</p>
        </template>
        <template v-else-if="$store.state.language === 'en'">
          <h1>Medina Stories</h1>
          <p>MedinaStories is a journey to the hidden gems of 10 Maghreb Medinas listed as UNESCO World Heritage. We
            will not visit famous Mosques and Madrasas, but we will rather explore where different cultures and
            religions met and gave birth to mesmerizing arts, monuments, and inspiring humans and stories! </p>
          <h2>Explore the hidden dimension of Medinas,</h2>
          <p>Throughout this journey, you will explore 5 stories about cultural and religious diversity in each Medina.
            Each story is told either by a monument, an urban space, an art or a public figure. </p>
          <h2>And discover an enchanting art!</h2>
          <p>In each Medina, there is one letter written in a different color. By gathering the 10 letters, you will
            find the name of an authentic Maghrebi Art that was born from the fusion of different cultures and
            religions.
          </p>
        </template>
        <template v-else-if="$store.state.language === 'ar'">
          <h1>حكايات المدينة</h1>
          <p>حكايات المدينة هي رحلة إلى الجواهر الخفية في 10 مدن مغاربية مدرجة في قائمة اليونسكو للتراث العالمي. لن نقوم
            بزيارة المساجد والمدارس الشهيرة، بل سنستكشف التقاء ثقافات وأديان مختلفة في هذه المدن و كيف أنجبت فنونا و
            عمارة مذهلة، و كذا !قصصا و أشخاصا ملهمين</p>
          <h2>استكشفوا البعد الخفي للمدن العتيقة ،</h2>
          <p>خلال هذه الرحلة، سوف تكتشفون 5 قصص عن التنوع الثقافي والديني في .كل مدينة ستروى لكم كل قصة إما من طرف معلمة
            تاريخية، فضاء حضري، أحد الفنون أو شخصية مهمة.</p>
          <h2>واكتشفوا فًنا ساحرا !</h2>
          <p>يوجد في كل مدينة حرف واحد كتب بلون مختلف. من خلال تجميع الاحرف التسعة، ستجدون اسم فن مغاربي أصيل .نشأ بفضل
            اندماج ثقافات وأديان مختلفة</p>
        </template>
        <Game class="game"
            @valid="$store.state.city=null;valid=true"
            @invalid="$store.state.city=null;valid=false"
        />
      </div>


      <div class="zone_map">
        <div class="container">

          <div v-if="city != null" class="box city" :class="$store.state.language">
            <div class="box-header">
            <h4> {{ city.pages[0][lang].title }} </h4>
            <span class="close" @click="$store.state.city = null"></span>
            </div>
            <div class="box-body">
            <div class="text">
              <p> {{ city.pages[0][lang].description }} </p>
            </div>
            <div class="img">
              <img :src="'img/cities/' + city.img" style="" />
              <br>
              <span class="discover" @click="discover(city)"> {{ i18n[$store.state.language].discover }} </span>
            </div>
            </div>
          </div>
        

          <div v-else-if="valid !== null" class="box game" :class="$store.state.language">
            <span v-if="valid">{{ i18n[$store.state.language].congrats }}</span>
            <span v-else>{{ i18n[$store.state.language].tryAgain }}</span>
          </div>

        </div>
      </div>

    </main>
  </div>

</template>

<script>
import MapSvg from "@/components/MapSvg";
import Game from "@/components/Game";
import PinchZoom from 'vue-pinch-zoom';

export default {
  components: {
    MapSvg,
    Game,
    PinchZoom,
  },
  data() {
    return {
      valid: null,
      zoom: 1,
      x: 0,
      y: 0,
      i18n: {
        fr: {
          congrats: "Bravo !",
          discover: "Découvrir",
          tryAgain: "Réessayez",
        },
        ar: {
          congrats: "تهانينا!",
          discover: "اكتشف",
          tryAgain: "أعد المحاولة",
        },
        en: {
          congrats: "Congratulations!",
          discover: "Discover",
          tryAgain: "Try again",
        }
      }
    }
  },
  mounted() {
    if (!this.$store.state.playing) {
      if (!localStorage.getItem('musicStopped')) {
        this.$store.state.audioElement.play();
      }
    }
  },
  methods: {
    onMapCityClicked(id, city) {
      this.valid = null;
      this.$store.state.city = city;
    },
    discover(city) {
      this.$store.state.page = 'city';
      this.$store.state.visitedCities.push(city);
    },
    playpause() {
      if (this.$store.state.playing) {
        this.$store.state.audioElement.pause();
        localStorage.setItem('musicStopped', 1);
      }
      else
        this.$store.state.audioElement.play();
    },
    onMapWheel(e) {
      console.log(e)
    }
  },
  computed: {
    city() {
      return this.$store.state.city;
    },
    lang() {
      return this.$store.state.language;
    },
  },
  watch: {
    valid(val) {
      if (val === true) {
        setTimeout(() => {
          this.$store.state.city = this.$store.state.content.ZZ;
          this.$store.state.page = 'city';
          this.$store.state.audioElement.pause();
        }, 2000)
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/variables";
@import "../assets/mixins";

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @include biggerThan(desktop) {
    > * { padding: 0 1em; }
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;

  .logo {
    a {
      text-decoration: none;
      color: $green;
    }
    img {
      display: none;
      height: 90px;
    }
    span {
      font-size: 2rem;
      margin-left: .5em
    }
  }

  .icons {
    display: flex;
    flex-direction: row-reverse;

    > * {
      margin: .5em;
    }
    svg {
      fill: $green;
      width: 20px;
    }
  }

  @include biggerThan(desktop) {
    background: $teal;
    .logo {
      padding: 20px 0 0 30px;
      img {
        display: inline;
      }
      span {
        display: none;
      }
    }
    .icons {
      margin-top: 16px;
      svg {
        fill: white;
        width: 26px;
      }
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;

  @include biggerThan(desktop) {
    flex: initial;
    margin-top: 3em;
    align-items: self-start;
  }

  .map {
    overflow: hidden;
    svg {
      max-width: 100%;
    }
  }

  .separator {
    z-index: -1;
    padding: 0;
    background-image: url('~@/assets/img/wave-bottom.png');
    background-size: 100% 100%;
    height: 80px;
  }

  .description {
    background: $teal;
    color: white;
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;

    h1 {
      font-size: 1.3rem;
      margin-bottom: .5em;
    }
    h2 {
      font-size: 1.1rem;
      margin-bottom: .25em;
    }

    p {
      font-size: 14px;
      margin-bottom: .5em;
    }

    .game {
      text-align: center;
    }
  }

  $desktop-separator-height: 360px;
  @include biggerThan(desktop) {
    flex-direction: row-reverse;
    .map {
      flex: 3;
    }
    .separator {
      transform: scaleX(-1);
      height: 180px;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      background-image: url('~@/assets/img/wave-top.png');
      top: $desktop-separator-height;
      &:before {
        content: "";
        background: $teal;
        position: absolute;
        top: -$desktop-separator-height;
        height: $desktop-separator-height;
        left: 0;
        right: 0;
      }
    }
    .description {
      background: white;
      color: black;
      justify-content: flex-start;
      box-shadow: 0 0 18px #00000066;
      border-radius: 10px;
      min-width: 300px;
    }
  }
}

.text {
  h4 {
    font-size: 1.2rem;
  }
  p {
    font-weight: 500;
    font-size: .8rem;
    text-align: justify;
  }

}

.box {
  position: fixed;
  background: white;
  width: 350px;
  box-shadow: 0 0 18px #00000066;
  border-radius: 10px;
  p {
    padding-right: 10px;
  }

  @include biggerThan(desktop) {
    width: 50%;
    max-width: 500px;
    font-size: 160%;
    p {
      line-height: 1.6;
    }
  }

  padding: .7em;
  z-index: 1;
  right: 10%;
  &.ar {
    right: initial;
    left: 10%;
  }
  bottom: 5%;


  @include smallerThan(desktop) {
    left: 2%;
    right: 2%;
    width: initial;
    max-width: initial;
  }




  .box-header {
    margin-bottom: .5em;
  }
  .box-body {
    display: flex;
  }

  .close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 20px;
    .ar & {
      right: auto;
      left: 20px;
    }
    transform: scale(1.5);
    color: rgb(9, 47, 35);
    opacity: 0.6;
    transition: all ease 0.1s;

    &:before {
      content: "\00d7";
      line-height: 0;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }

  .text {
    flex: 3;
    line-height: 1.2;
  }

  .img {
    flex: 2;
    align-self: center;

    img {
      max-width: 100%;
      padding: 0 .5em;
      border-radius: 10px;
    }

    text-align: center;

    .discover {
      cursor: pointer;
      color: $green;
    }
  }

  &.game {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 100px;
  } 

}


@include smallerThan(desktop) {
  header {
    direction: ltr;
  }
}

.pinch-zoom-wrapper {
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }

  @include biggerThan(desktop) {
    ::v-deep .pz-zoom-button {
      display: none;
    }
  }
}



@media screen and (min-width : 1500px){
  main .description {
    padding: 2em 1em 3em 1em;

    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    h3{
      margin: 1rem 0;
      font-size: 18px;
    }
    p {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: .5em;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;

    .logo {
      img {
        height: 120px;
      }
    }

    .icons {
      margin-top: 46px;
    }
  }

  .page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    @include biggerThan(desktop) {
      > * { padding: 0 5em; }
    }
  }
}
</style>