$smartphone: 480px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 600px;
$largeScreen: 1400px;

@mixin biggerThan($media) {
    @if $media == smartphone {
        @media (max-width: $smartphone) {
            @content;
        }
    } @else if $media == tablet {
        @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
            @content;
        }
    } @else if $media == smallScreen {
        @media (max-width: $desktop) {
            @content;
        }
    } @else if $media == desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }
}

@mixin smallerThan($media) {
    @if $media == smartphone {
        @media (max-width: $smartphone) {
            @content;
        }
    } @else if $media == tablet {
        @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
            @content;
        }
    } @else if $media == smallScreen {
        @media (max-width: $desktop) {
            @content;
        }
    } @else if $media == desktop {
        @media (max-width: $desktop) {
            @content;
        }
    }
}
