@import "../../node_modules/typeface-source-sans-pro/index.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  font-family: 'Source Sans Pro', serif;
}

.ar, .ar * {
  font-family: Arabic, serif;
}


@font-face {
  font-family: "Arabic";
  src: url("./font/Mmtsdr_La_Tkelmen_Regular.ttf") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Arabic";
  src: url("./font/Mmtsdr_La_Tkelmen_bold.ttf") format("woff");
  font-weight: bold;
}

html, body, #app, #app > main {
  height: 100%;
}

.pointer {
  cursor: pointer;
}


i {
  color: red;
  font-style: normal;
}