<template>
  <div id="app" :class="$store.state.page + ' ' + $store.state.language">
    <Home v-if="$store.state.page === 'home'" />
    <Map v-else-if="$store.state.page === 'map'" />
    <Credit v-else-if="$store.state.page === 'credit'" />
    <City v-else-if="$store.state.page === 'city'" />
    <div v-else>{{page}} is not configured</div>
    <audio loop ref="audio">
      <source src="mp3/Dcx_Medina_stories.mp3" type="audio/mp3">
    </audio>

    <div v-if="updateExists" id="updateApp">
      {{updates[$store.state.language][0]}}<br>
      <button text @click="refreshApp">
        {{updates[$store.state.language][1]}}
      </button>
    </div>
  </div>
</template>

<script>
import update from './mixins/update';
import Home from '@/components/Home';
import Map from '@/components/Map';
import City from '@/components/City';
import Credit from '@/components/Credit';


export default {
  name: 'App',
  data() {
    return {
      updates: {
        fr: ['Une mise à jour est disponible', 'Mettre à Jour'],
        en: ['An update is available', 'Update'],
        ar: ['تحديث متاح', 'تحديث'],
      }
    }
  },
  components: {
    Home,
    Map,
    City,
    Credit,
  },
  mixins: [update],
    created() {
      this.$store.state.HEIGHT = window.innerHeight;
      this.$store.state.WIDTH = window.innerWidth;
    },
  mounted() {
    const s = this.$store.state;
    s.audioElement = this.$refs.audio;
    s.audioElement.addEventListener('play', () => s.playing = true);
    s.audioElement.addEventListener('pause', () => s.playing = false);
    window.onresize = () => {
      this.$store.state.HEIGHT = window.innerHeight;
      this.$store.state.WIDTH = window.innerWidth;
    }
  },
}
</script>

<style lang="scss">

#app.city {
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -110px;
}
#app.map.ar {
  direction: rtl;
}
#updateApp {
  font-size: 12px;
  position: fixed;
  background: white;
  padding: 7px;
  top: 20px;
  height: 60px;
  width: 200px;
  z-index: 10000;
  left: 50%;
  text-align: center;
  margin-left: -100px;
  box-shadow: 0 0 5px -2px black;
  button {
    margin-top: 10px;
    padding: 2px 6px;
  }
}
</style>
